* {
    box-sizing: border-box;
  }
body{
    margin: 0px;
}
.blog{
    margin-top: 10px;
    width: 100%;
    border: 2px solid gray;
    height: inherit;
    padding: 10px;
}
.blog-post{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px;
    
    display: flex;
    margin: 10px auto;
    width: 95%;
    height: fit-content;
    
}
.blog-vid{
    border-right: 1px solid black;
    margin: 2em 5px; 
    float: left;
    width: 60%;  
}
.blog-ctn{
    border-left: 1px solid black;
    margin: 2em 5px; 
    float: left;
    width: 40%;  
}
.blog-ctn, .blog-vid{
    
    padding: 20px;

}